Function Request - Convert  RFC 822 to SQL Server DATETIME in specified zone

Here is a suggestion for a function to convert  RFC 822 to SQL Server DATETIME in specified zone.

I didn't see an existing function to take string dates in this format to a sql server datetime format in the specificed timezone.  I have to work with stamps like this (in varchar format when received) in sql server and want to convert them all to UTC and store the UTC version as DATETIME.

```
Sat, 20 Aug 2016 03:50:04 CDT
Sun, 17 Sep 2017 16:51:46 CEST
Mon, 09 Oct 2017 06:43:27 CET
Thu, 28 Sep 2017 14:05:23 IST
Thu, 05 Oct 2017 08:59:01 IDT
Wed, 28 Jun 2017 17:10:22 CEST
Mon, 18 Sep 2017 18:32:52 GMT
Sat, 27 Aug 2016 07:06:22 MEST
Sat, 06 Aug 2016 13:17:09 UTC
Sat, 16 Jul 2016 23:53:02 PDT
```

This format is commonly found in http headers e.g. "If-Modified-Since" and others. 

The function pseudocode could look like this:

```
Function isoTimeToSqlDatetime(sourceString)

    Strip first 5 chars off
    split sourceString into sourceDatetime  and sourceTimeZone
    cast(sourceDatetime as datetime)
    targetDatetime = convert sourceDatetime to targetTimeZone from sourceTimeZone
    return targetDatetime

End Function
```

This project doesn't do any string parsing, so respectfully I'll decline the request.

Additionally, note that RFC 822 is obsoleted by RFC 2822, and then again by RFC 5322.  In both, all such time zone abbreviations were moved to the "obsolete date and time" section under `obs-zone`.  Even in RFC 822, only a handful of abbreviations were supported.  Most of the ones you mention are not in the list.

Consider that time zone abbreviations are often ambiguous.   `CST` might be US Central Standard Time, but it might be China Standard Time, Cuba Standard Time or Australia Central Standard Time.  Even in the list you gave, `IST` could be for India, Ireland, or Israel.